<div class="jumbotron">
<h1>Healthtraks<small><span style="color:black"> (beta)</span></small><br><small><i>Be part of your heathcare conversation!</i></small></br></h1>
</div>
<h2><%= link_to 'Log in', login_path, class: "btn btn-success" %> or <%= link_to 'Create your account', signup_path, class: "btn btn-primary" %></h2>
