<div class="page-header">
  <h3>HealthTraks  (beta version)<br><small><i>Edit Your Info</i></small></h4>

</div>
<%= link_to 'Cancel', @user, class: "btn btn-warning" %>
<%= link_to 'Login', login_path, class: "btn btn-primary" %>
<%= render 'form' %>
