<div class="">
<h3>HealthTraks (beta)<br><small><i>Your Profile</i></small></h4>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Your email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>I'm tracking for:</strong>
  <%= @user.patient_name %>
</p>

<p><%= link_to "Goto Your Entry Page", '/events/user.id', class: "btn btn-primary" %></p>
