<div class="">
<h4>HealthTraks (beta)<br><small><i>View, edit, or delete this entry</i></small></h4>
</div>

<%= link_to ' Cancel and go back', list_by_name_path, html_options = { class: "btn btn-warning"} %>
<%= link_to ' Delete this entry',  @event, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger"%>

<%= render 'form' %>
