<div class="page-header">
<h3>HealthTraks<br><small><i>Create New Entry</i></small></h3>
</div>

<%= link_to ' Cancel and go back', session[:user_id].to_s, html_options = { class: "btn btn-warning"} %>



<%= render 'form' %>
