<div class="footer">
  <hr>
  <p style=color:#778899;><i>Healthtraks</i> &copy; 2016 by ChapApptive. All rights reserved. <%= link_to ' Terms of Service', '/terms', html_options = { target: "_blank"} %> and <%= link_to ' Privacy Policy', '/privacy', html_options = { target: "_blank"} %>.</p>
</div>
</div>
